//Please, configure these lines as you wish
process.cpus = 15
process.memory = "300 GB"
singularity.cacheDir = "$launchDir/containers"
singularity.runOptions = "--bind /"

//These lines should work out of the box
process.executor = 'local'
singularity.enabled = true
singularity.autoMounts = true

params {
	 r_script_dir = "$projectDir/R-src"
    java_src_dir = "$projectDir/java-src"
    java_bin_dir = "$projectDir/java-bin"
    

    tree = "$projectDir/test-data/small/for_count.nwk"
	count_family = "$projectDir/test-data/small/count_result_FAMILY_extended.tsv"
	outdir = "$launchDir/test-result"
}
